.admin_main{
    min-height: 100vh;

}

.adminmain-container{
    display: flex; 
}

.adminmain-sidebar{
    flex: 1;
    width: 40%; 
    min-height: 100vh;
    background-color: #2A2A2A;
}

.adminmain-content{
    flex: 3;
    padding-left: 20px;
    padding-right: 40px;
    min-height: 100vh;
}