.advocate_main{
    min-height: 90vh;
    margin-top: 70px;
}

.advocate_chat_sidebar{
    flex: 1;
    width: 40%; 
    min-height: 90vh;
    max-height: 90vh;
    background-color:#1a1a1a;
    overflow-x: hidden;
    overflow-y: scroll;
}

.advocate_chat_sidebar::-webkit-scrollbar{
    display: none;
}